html 
    head
        //- script(src="https://cdn.tailwindcss.com") 
        link(href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet")
     body 
        div Hello, Pug!
        div.mxc